body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url("https://assets.awwwards.com/awards/images/2021/05/gradients-trends-cover.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: black;
}

.login-container {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.74);
    width: 300px;
    text-align: center;
}

.login-container h1 {
    margin-bottom: 20px;
    font-size: 24px;
}

.login-container h2 {
    margin-bottom: 20px;
    font-size: 17px;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 80%;
    padding: 8px; /* Se redujo el padding */
    margin-bottom: 15px;
    border: none;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.534);
    color: rgb(255, 255, 255) !important;
    font-size: 14px; /* Se redujo el tamaño de la fuente */
}

.login-container input[type="text"]::placeholder,
.login-container input[type="password"]::placeholder {
    color: rgba(255, 255, 255, 0.644);
    font-size: 12px; /* Se redujo el tamaño de la fuente del placeholder */
}

.login-container button {
    width: 100%;
    padding: 8px; /* Se redujo el padding */
    border: none;
    border-radius: 6px;
    background-color: #812B8C;
    color: #fff;
    font-size: 14px; /* Se redujo el tamaño de la fuente */
    cursor: pointer;
}

.login-container button:hover {
    background-color: #2A2359;
}

.contra {
    text-decoration: none;
    font-style: italic;
}

/* Estilos para tablets */
@media (max-width: 768px) {
    .login-container {
        width: 80%;
    }

    .login-container h1 {
        font-size: 22px;
    }

    .login-container h2 {
        font-size: 16px;
    }
}

/* Estilos para móviles */
@media (max-width: 480px) {
    .login-container {
        width: 90%;
        padding: 15px;
    }

    .login-container h1 {
        font-size: 20px;
    }

    .login-container h2 {
        font-size: 14px;
    }

    .login-container input[type="text"],
    .login-container input[type="password"] {
        width: 100%;
        padding: 6px; /* Se redujo aún más el padding en móviles */
        font-size: 12px; /* Se redujo aún más el tamaño de la fuente en móviles */
    }

    .login-container input[type="text"]::placeholder,
    .login-container input[type="password"]::placeholder {
        font-size: 10px; /* Se redujo aún más el tamaño de la fuente del placeholder en móviles */
    }

    .login-container button {
        font-size: 12px; /* Se redujo aún más el tamaño de la fuente en móviles */
        padding: 6px; /* Se redujo aún más el padding en móviles */
    }
}